.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 100px;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

.cardsType{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.cardTitle{
    text-align: center;
}.cardRating{
    text-align: center;
}

.titlePopular{
    text-align: center;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}
