.link{
    color: #F5F5F1;
    font-size: 24px;
    margin: 20px;
    text-decoration: none;
    font-family: 'Bebas';
}

.title{
    font-size: 28px;
    color: red;
    text-decoration: none;
    font-family: 'Bebas';
    background-color: #141414;
}

.contentSearch{
    width: 20%;
    display: flex;
    justify-content: end;
}

.searchInput {
    width: 70%;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.searchButton {
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.searchButton:hover {
    background-color: #1ad312;
}
